[Unit]
Description=mako notifications tester

[Service]
Type=oneshot
ExecStart=/home/xiangyi/.config/mako/reload.sh

[Install]
WantedBy=graphical-session.target
